{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden access</h1>
    <p>
        You're not allowed to access here. If you think you should be, please contact the admin.
    </p>
{% endblock %}
