{% extends 'base.html.twig' %}

{% block body %}
    <h1>Timeout error</h1>
    <p>
        The server took too much time to load the page. If this persists, please contact the admin.
    </p>
{% endblock %}
