<a class="btn" href="{{ path('switch_locale', {"locale": "fr"}) }}">
    <img src="{{ asset('bundles/default/img/flag-fr.png') }}">
</a>
<a class="btn" href="{{ path('switch_locale', {"locale": "en"}) }}">
    <img src="{{ asset('bundles/default/img/flag-en.png') }}">
</a>