<div>
    <p>
        Inscription demandée pour : {{ registration.name }}
    </p>
    <p>
        Confirmation à envoyer à l'adresse : {{ registration.mail }}
    </p>
    <p>
        Informations supplémentaires : {{ registration. }}
    </p>
</div>
