<div>
    <p>
        Inscription demandée pour : {{ registration.name }}
    </p>
    <p>
        Au(x) tournoi(s) : {{ registration.competitions }}
    </p>
    <p>
        Confirmation à envoyer à l'adresse : {{ registration.mail }}
    </p>
    <p>
        Informations supplémentaires : {{ registration.information }}
    </p>
</div>
