<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
			<p><a href="http://parisbridgefestival.com/presentation.pdf" download="Plaquette de presentation">Télécharger la brochure du festival</a></p>
            <p>Copyright &copy; Philippe Soulet 2015</p>
            </div>
        </div>
    </div>
</footer>
