<a href="#" class="back-to-top">{{ ('backToTop') | trans({}, 'main') }}</a>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-center">
                <p>
                    <a href="{{ asset('download.path' | trans({}, 'main')) }}"
                       download="{{ 'download.file' | trans({}, 'main') }}">
                        <strong>{{ 'download.text' | trans({}, 'main') }}</strong>
                    </a>
                </p>
            </div>
            <div class="col-xs-6 text-center">
                <p>Copyright &copy; Philippe Soulet</p>
            </div>
        </div>
    </div>
</footer>
