.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 1.7em;
  padding: 1em;
  display: none;
}

.back-to-top:hover {
  background-color: rgba(135, 135, 135, 0.5);
}

.margin-top {
  margin-top: 20px;
}

#home {
  @media all and (max-width: 1199px) {
    .margin-top {
      margin-top: 40px;
    }
  }
}

#partners {
  .margin-top {
    margin-top: 10px;
  }
}

.img-partners:hover {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

table {
  text-align: center;
  border-collapse: collapse;
  background: rgba(255,255,255,0.5);
}

thead {
  border : 2px solid black;
  font-size: 1.7em;

  td {
    border: 2px solid black;
  }
}

td {
  border: 1px solid black;
  font-size: 1.7em;
}

table.schedule {
  margin-top: 50px;
  margin-bottom: 50px;

  td {
    &:nth-child(1) {
      width: 25%;
    }

    &:nth-child(2) {
      width: 15%;
    }

    &:nth-child(3) {
      width: 40%;
    }
  }
}

table.prize {
  margin-top: 50px;
  margin-bottom: 50px;
}

table.funbridge-prize {
  margin-bottom: 50px;
}

table.partners {
  border:0;
  background-color:transparent;
  width:100%;

  td {
    border:0;
    padding:1%;
  }
}
